.Header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: start;

    @media(max-width: 1500px) {
        margin-top: 20px;
    }

    &_mm {
        position: fixed;
        left: 0px;
        top: 0px;
        transition: transform 500ms;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);
        background: #0008;
        padding: 36px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: start;
        row-gap: 36px;
        display: none;

        @media(max-width: 1000px) {
            display: flex;
        }

        &_links {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            gap: 24px;

            .NavLink {
                width: 100%;
            }
        }

        &_manager {
            width: 100%;
        }

        &_lang {
            width: 100%;

            @media(max-width: 670px) {
                justify-content: center;
                display: flex;
            }
        }
    }

    &_side {
        display: flex;
        align-items: center;
        column-gap: 80px;

        @media(max-width: 1300px) {
            column-gap: 20px;
        }
    }

    &_opener {
        position: fixed;
        z-index: 999;
        right: 26px;
        top: 26px;
        cursor: pointer;

        @media(min-width: 1000px) {
            display: none;
        }

        img {
            transition: transform 400ms ease-in-out;
        }
    }

    &_links {
        display: flex;
        align-items: center;
        column-gap: 50px;
        margin-top: 5px;

        @media(max-width: 1300px) {
            column-gap: 20px;
        }

        @media(max-width: 1000px) {
            display: none;
        }
    }

    &_right {
        &_content {
            align-items: start;
            display: flex;

            @media(max-width: 1000px) {
                display: none;
            }
        }
    }

    &_logo {
        background: linear-gradient(to right, #0201FF, #23CCCD, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline;
        font-weight: 600;
        font-size: 30px;
    }
}