.PolicyAndRights {
    &_policy {
        cursor: pointer;
        text-decoration: underline;

        @media(max-width: 430px) {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &_rights {
        @media(max-width: 430px) {
            width: 100%;
            text-align: center;
        }
    }

    div,
    a {
        font-size: 18px;
        font-weight: 300;
        color: #fff8;

    }
}