.HeroCta {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &_text {
        font-weight: 500;
        font-size: 80px;
        line-height: 80px;

        span {
            background: linear-gradient(to right, #0201FF, #23CCCD, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}