.AboutUs {
    margin-top: 600px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    align-content: start;

    @media(max-width: 1280px) {
        padding-left: 0px;
        gap: 20px;
        margin-top: 200px !important;
    }

    &_decor {
        width: 100%;
        display: flex;
        justify-content: center;
        // position: relative;
        // z-index: ;}
        &_wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &_abstract {
        // mix-blend-mode: hard-light;
        top: -250px;
        pointer-events: none;

        img {
            rotate: 8deg;
            min-width: 200vw;
        }

        @media(max-width: 1670px) {
            top: -200px;
        }

        @media(max-width: 1280px) {
            top: -150px;

            img {
                min-width: 300vw;
            }
        }

        @media(max-width: 650px) {
            top: -50px;
        }
    }

    &_header {
        position: relative;
        z-index: 1;
        width: 500px;
        font-size: 130px;
        font-weight: 500;
        line-height: 120px;
        max-height: 300px;

        @media(max-width: 1800px) {
            line-height: 140px;
        }

        @media(max-width: 1560px) {
            font-size: 80px;
            width: 400px;
            line-height: 100px;
        }

        @media(max-width: 1280px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 80px;
        }

        @media(max-width: 450px) {
            font-size: 50px;
            line-height: 60px;
        }
    }

    &_content {
        width: 800px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 50px;

        @media(max-width: 1280px) {
            width: 100%;
            margin-top: 30px;
        }
    }

    &_element {
        border-radius: 16px;
        padding: 40px 60px;
        padding-bottom: 60px;
        margin-bottom: -20px;
        width: 100%;
        position: relative;
        min-height: 200px;

        @media(max-width: 720px) {
            padding: 30px 50px;
            padding-bottom: 45px;
        }

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 25px;

            @media(max-width: 720px) {
                font-size: 20px;
            }

            @media(max-width: 420px) {
                font-size: 16px;
            }
        }

        &_content {
            font-size: 18px;
            margin-top: 32px;

            @media(max-width: 1280px) {
                margin-top: 16px;
            }

            @media(max-width: 550px) {
                font-size: 15px;
                margin-top: 10px;
            }
        }

        &_0 {
            background: radial-gradient(circle at 30%, rgba(2, 1, 255, 1) 0%, rgba(16, 16, 61, 1) 100%);
        }

        &_3 {
            background: radial-gradient(circle at 70%, rgba(2, 1, 255, 1) 0%, rgba(16, 16, 61, 1) 100%);
        }

        &_1 {
            background: radial-gradient(circle at 70%, #23CCCD, #152E2E 100%);
        }

        &_4 {
            background: radial-gradient(circle at 30%, #23CCCD, #152E2E 100%);
        }

        &_2 {
            background: radial-gradient(circle at 30%, #EFEDF4, #a1a1a1 100%);
        }

        &_5 {
            background: radial-gradient(circle at 70%, #EFEDF4, #a1a1a1 100%);
        }

        &_2,
        &_5 {
            .AboutUs_element_header_text {
                color: #000;
            }

            .AboutUs_element_header_num {
                color: #000;
            }
        }
    }

    &_cta {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 800px;
        top: -200px;
        position: relative;
        z-index: 1;

        @media(max-width: 1280px) {
            top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 0;
        }
    }
}