.DropDown {
  background: #111;
  color: #fff;
  border: 1px solid #333;
  width: 170px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 2;
  height: 52px;
  

  &__header {
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba($color: #FFF, $alpha: .5);
    font-size: 20px;
    font-weight: 500;
  }

  &__arrow {
    transition: 0.3s;
    opacity: .5;

    &.open {
      transform: rotate(180deg);
    }
  }

  &__list {
    position: absolute;
    top: 99%;
    left: 0;
    background: #111;
    border: 1px solid #333;
    border-top: none;
    border-radius: 0 0 6px 6px;
    width: 100%;
    z-index: 5;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 400;

    input {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      width: 15px;
      height: 15px;
      border: 2px solid #FFF;
      cursor: pointer;
      border-radius: 2px;
      position: relative;
    }
  
    input:checked::after {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 2px;
      width: 4px;
      height: 7px;
      border: solid #FFF;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}