.MessageToManager {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: underline;
    font-size: 18px;
    padding-top: 10px;
    cursor: pointer;
    @media(max-width: 650px){
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}