.RequestPage {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    width: 100%;

    &__mm {
        position: fixed;
        left: 0px;
        top: 0px;
        transition: transform 500ms;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);
        background: #0008;
        padding: 36px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: start;
        row-gap: 36px;
        display: none;

        @media(max-width: 1000px) {
            display: flex;

        }

        &_links {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            gap: 24px;

            .NavLink {
                width: 100%;
            }
        }

        &_manager {
            width: 100%;
        }

        &_social {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        &_lang {
            width: 100%;

            @media(max-width: 670px) {
                justify-content: center;
                display: flex;
            }
        }
    }

    &_title {
        position: relative;
        z-index: 2;
        margin-top: 60px;
        font-size: 90px;
        font-weight: 800;
        line-height: 85px;

        @media(max-width: 1700px) {
            font-size: 90px;
        }

        @media(max-width: 1380px) {
            font-size: 55px;
        }

        @media(max-width: 1019px) {
            width: 100%;
            text-align: center;
            margin-top: 0px;
        }

        @media(max-width: 550px) {
            font-size: 40px;
        }

        @media(max-width: 999px) {
            margin-top: 30px;
        }

        span {
            background: linear-gradient(to right, #0201FF, #23CCCD, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline;
            font-weight: 700;
            font-size: 40px;
            position: relative;
            top: -20px;
            text-shadow: 0px 0px 20px #fff4, 0px 0px 5px #0002;

            @media(max-width: 1700px) {
                top: -16px;
            }

            @media(max-width: 1380px) {
                font-size: 40px;
                top: -6px;
            }

            @media(max-width: 1019px) {
                display: none;
            }
        }
    }

    &_form {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        margin-top: 80px;
        align-items: center;
        align-content: start;
        width: 100%;
        max-width: 500px;
        row-gap: 10px;
        justify-content: right;

        @media(max-width: 1380px) {
            max-width: 400px;
        }

        @media(max-width: 1019px) {
            margin-top: 40px;
            justify-content: center;
            max-width: 100%;
        }

        &_cta {
            margin-top: 30px;
        }

        input {
            width: 100%;
            height: 80px;
            padding-left: 40px;
            border: none;
            border-radius: 10px;
            background-color: #0F0F0F;
            color: white;
            font-size: 20px;
            transition: background-color 200ms;

            @media(max-width: 1380px) {
                height: 80px;
            }

            &::placeholder {
                color: #fffA;
            }

            &:focus {
                outline: none;
                background-color: #222222;

            }
        }
    }

    &_note {
        width: 100%;
        position: relative;
        z-index: 2;
        margin-top: 130px;
        display: flex;
        justify-content: right;

        @media(max-width: 1019px) {
            order: 4;
            justify-content: start;
            padding-bottom: 50px;
        }

        &_inner {
            width: 400px;
            display: flex;
            align-items: center;
            column-gap: 50px;

            @media(max-width: 1019px) {
                width: 100%;
                justify-content: center;
            }
        }

        &_duga {
            img {
                width: 40px;
            }

            &_right {
                rotate: 180deg;
            }
        }

        &_content {
            width: 264px;
            text-align: center;
            font-size: 25px;
        }

    }

    &_decor {
        width: 100%;

        &_abstract {
            top: 800px;
            mix-blend-mode: hard-light;
            rotate: 180deg;
            left: 500px;
        }

        &_text {
            top: 100px;
            justify-content: left !important;
            mix-blend-mode: soft-light;
            font-size: 400px;
            left: -100px;

            @media(max-width: 1019px) {
                display: none !important;
            }
        }
    }

    &_header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 50px;
        position: relative;
        z-index: 2;

        &_mob {
            width: calc(100% - 250px);
            display: flex;
            justify-content: start;
            align-items: center;

            &__mm {
                top: 60px;
            }

            @media(max-width: 640px) {
                width: calc(100% - 110px);
            }

            @media(max-width: 500px) {
                .MessageToManager {
                    display: none;
                }
            }
        }

        &_home {
            background-color: rgba(0, 12, 117, 0.829);
            backdrop-filter: blur(30px);
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 12px;
            font-size: 20px;
            font-weight: 600;
            width: 200px;
            height: 60px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 300ms;

            &:hover {
                background-color: rgba(0, 26, 255, 0.0);
            }

            @media(max-width: 640px) {
                width: 100px;
                height: 40px;
                font-size: 10px;

                img {
                    width: 12px;
                }
            }

            img {
                rotate: 180deg;
            }

            &_border {
                background: linear-gradient(to right, #ffffff00 0%, #FFFFFF);
                border-radius: 10px;
                padding: 1px;
            }
        }

        &_side {
            display: flex;
            column-gap: 50px;
            align-items: center;

            &_right {
                align-items: start;

                @media(max-width: 1000px) {
                    display: none;
                }
            }
        }

        &_links {
            display: flex;
            align-items: center;
            column-gap: 50px;
            column-gap: 10px;

            @media(max-width: 1000px) {
                display: none;
            }
        }
    }

}