.OurServices {
    padding-top: calc(22vw);
    background: #fff;
    padding-bottom: 90px;

    @media(max-width: 600px) {
        margin-top: 20vw
    }

    &_line {

        &_wrapper {
            align-items: end !important;
            width: 100% !important;
        }

        &_inner {
            width: 100% !important;
            background: #fff;
            min-height: 50px;
        }

        @keyframes lineMove {
            0% {
                transform: translate(0px, 0px);
            }

            100% {
                transform: translate(0px, 300px);
            }
        }

        @keyframes lineScale {
            0% {
                min-height: 50px;
            }

            100% {
                min-height: 0px;
            }
        }

        &s {
            align-items: end !important;
            width: 100% !important;
            flex-wrap: wrap;
        }

    }

    &_cta {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_note {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;

        &_content {
            font-size: 18px;
            max-width: 370px;
            text-align: center;
            color: #0201FF88;
        }

        &_duga {
            &_right {
                rotate: 180deg;
            }
        }
    }

    &_header {
        font-size: 60px;
        font-weight: 500;
        color: #000;
        text-align: center;
        margin-top: 80px;
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
        perspective: 1000px;

        @media(max-width: 1050px) {
            margin-top: 60px;
            gap: 15px;
        }

        @media(max-width: 950px) {
            padding-left: 20px;
        }
    }

    &_element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        transition: transform 300ms, opacity 300ms;
        text-transform: uppercase;

        &_content {
            color: #0201FF33;
            font-size: 60px;
            transition: color 300ms;
            line-height: 80%;

            @media(max-width: 1400px) {
                font-size: 40px;
            }

            @media(max-width: 950px) {
                text-align: left;
                font-size: 35px;
            }

            @media(max-width: 600px) {
                font-size: 25px;
                max-width: 420px;
            }

            @media(max-width: 420px) {
                font-size: 18px;
                max-width: 250px;
            }
        }

        &_arrow {
            opacity: 0;
            transition: opacity 300ms;

            img {
                min-width: 50px;
            }

            &_left {
                rotate: 180deg;
            }

            &_right {
                @media(max-width: 950px) {
                    display: none !important;
                }
            }
        }

        &_active {
            .OurServices_element_arrow {
                opacity: 1;
            }

            .OurServices_element_content {
                color: #0201FF;
            }
        }
    }
}