.Footer {
    overflow: hidden;


    &_decor {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -1;
        height: 600px;

        @media(max-width: 1000px) {
            height: 300px;
        }


        &_abstract {
            mix-blend-mode: hard-light;

            img {
                min-width: 200vw;
            }
        }

        &_name {
            top: 100px;
            white-space: nowrap;
            font-size: 27vw;
            font-weight: 500;
        }

    }


    &_info {
        position: relative;
        z-index: 2;
        display: flex;
        column-gap: 100px;
        justify-content: space-between;
        max-width: 1600px;
        margin: 0 auto;

        margin-top: 200px;

        @media(max-width: 1000px) {
            display: none;
        }

    }

    &_mob {
        display: none;
        flex-wrap: wrap;
        margin-top: 200px;
        row-gap: 30px;

        @media(max-width: 1000px) {
            display: flex;
        }

        &_media {
            margin-top: 20px;
        }

        &_right {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .NavLink {
                width: 100%;
                text-align: right;
            }
        }

        &_row {
            width: 100%;

            &_top {
                display: flex;
                justify-content: space-between;
            }

            &_lang {
                display: flex;
                justify-content: center;
            }
        }
    }

    &_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 80px;
        max-width: 1000px;
    }

    &_links {
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;

        .NavLink {
            width: 100%;
        }
    }

    &_header {
        min-width: fit-content;
        font-size: 30px;
        font-weight: 700;
    }

    &_row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        align-items: start;

        &_end {
            align-items: end;
        }
    }

}